.followers_card {
    width: 629px;
    height: 88px;
    padding: 13px 33px;
    background: rgba(145, 126, 126, 0.101);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid #C100A2;
    display: flex;
    align-items: center;
    justify-content: space-between;margin-bottom: 34px;
}
.followers_card_left{
    display: flex;
    align-items: center;
    gap: 33px;
}
.followers_card_left >img{
    width: 62px;
    height: 62px;
    border-radius: 50%;
}
.followers_card_left >div{
    display: flex;
    flex-direction: column;
 
}
.followers_card_left >div >h5{
    font-size: 25px;
}
.followers_card_left >div >p{
    font-size: 16px;
    color: #B8B8B8;
}
.followers_card_right>button{
    width: 108px;
    height: 44px;
    background: linear-gradient(93.97deg, #C100A2 0%, #9700C1 100%);
    border: none;
    border-radius: 4px;
    color: white;
}