.SingleCollectiblePopup {
    width: 588px;
    height: 627px;
    background-color: rgba(7, 13, 36, 1);
    border-radius: 16px;
    padding: 70px 50px;
    color: white;
}

.SingleCollectiblePopup_heading {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.SingleCollectiblePopup_heading>h3 {
    font-size: 32px;
}

.SingleCollectiblePopup_heading>img {
    height: 37px;
    width: 37px;
}

.SingleCollectiblePopupStep {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
}
.SingleCollectiblePopup_upload>.done{
    background: linear-gradient(90.04deg, rgba(193, 0, 162, 0.4) 0%, rgba(151, 0, 193, 0.4) 96.3%);

}

.SingleCollectiblePopup_upload {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.SingleCollectiblePopup_upload1 {
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.SingleCollectiblePopup_upload1>.div1 {
    position: relative;

}

.SingleCollectiblePopup_upload1>.div1>.circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba(33, 36, 60, 1);
}

.SingleCollectiblePopup_upload1>.div1>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.SingleCollectiblePopup_upload1>.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
}

.SingleCollectiblePopup_upload1>.content>h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.SingleCollectiblePopup_upload1>.content>p {
    margin: 0;
    font-size: 12px;
    color: rgba(184, 184, 184, 1);
}

.SingleCollectiblePopup_upload>button {
    width: 100%;
    height: 44px;
    border: none;
    outline: none;
    background: linear-gradient(90.04deg, #C100A2 0%, #9700C1 96.3%);
    border-radius: 4px;
    font-size: 16px;
color: white;
}