.create_collection {
    width: 100%;
    margin-top: 100px;
    padding-bottom: 150px;
    border-bottom: 1px solid rgba(77, 77, 77, 1);

}

.create_collection_container {
    width: 82%;
    margin: 0 auto;
}

.create_collection_heading {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 36px;
}

.create_collection_heading>p {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(90.41deg, #C100A2 0.35%, #9700C1 99.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.create_collection_form_container {


    margin-top: 100px;
    width: 100%;
}

.create_collection_image {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 270px;
    position: relative;
    height: 400px;
    width: 100%;
}

.create_collection_image>.create_collection_bannerimg {
    width: 110%;
}

.create_collection_editbtn {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 0;
    bottom: 10px;
}

.create_collection_profileimg {
    top: 220px;
    left: 40px;
    position: absolute;
    width: 350px;
    height: 350px;
}

.create_collection_editbtn>a {
    padding: 10px;
    background: linear-gradient(98.47deg, #C100A2 0%, #9700C1 100%);
    border-radius: 4px;
    text-decoration: none;
    color: white;
}

.create_collection_input_group {
    width: 100%;
    color: white;
}

.create_collection_input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    background: linear-gradient(92.76deg, rgba(193, 0, 162, 0.75) 0%, rgba(151, 0, 193, 0.75) 75.44%);
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 30px;
}

.create_collection_input>input {
    padding-left: 20px;
    color: white;
    width: 100%;
    height: 44px;
    background-color: #070d24;
    outline: none;
    border: transparent;
    border-radius: 4px;
}

.create_collection_input_textarea {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    background: linear-gradient(92.76deg, rgba(193, 0, 162, 0.75) 0%, rgba(151, 0, 193, 0.75) 75.44%);
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-bottom: 100px;
}

.create_collection_input_textarea>textarea {
    height: 168px;
    width: 100%;
    background-color: #070d24;
    outline: none;
    border: transparent;
    border-radius: 4px;
    padding-left: 20px;
    color: white;

}

.create_collection_input_group>input {
    width: 100%;
    background: linear-gradient(90.04deg, #C100A2 0%, #9700C1 96.3%);
    height: 44px;
    color: white;
    background-repeat: 4px;
    border: none;
    border-radius: 4px;
}