.home_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 588px;
    height: 627px;
    background: rgba(7, 13, 36, 1);
    z-index: 5;
    border-radius: 16px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-top: 70px;
    transition: 0.4s;
}
.nav_btn{
    text-decoration: none;
}

.home_popup_top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    
}

.home_popup_top_content {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.home_popup_top_content>img {
    cursor: pointer;
    object-fit: cover;
    width: 37px;
    height: 37px;
}

.home_popup_top_content>h3 {
    font-family: Averia Serif Libre;
    font-size: 32px;
    font-weight: bold;
    background: linear-gradient(90.41deg, #C100A2 0.35%, #9700C1 99.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home_popup_top>p {
    font-size: 14px;
    color: white;
}

.home_popup_bottom {
    width: 100%;
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.home_popup_bottom_content {
    cursor: pointer;
    width: 100%;
    border: 1px solid rgba(84, 84, 84, 1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 36px;
    justify-content: start;
}

.home_popup_bottom_content>h3 {
    font-size: 24px;
    font-family: inter;
    color: white;
    font-weight: 500;
}
.nav_responsive{
    display: none;
}

.home_popup_bottom>p {
    font-size: 14px;
    color: white;
}


@media screen and (max-width: 1000px) {
    .nav_container{
        display: none !important;
        align-items: end;
        width: 100% !important;

        margin: 0 auto !important;
    }
    .nav_responsive{
        display: flex;
      align-items: center;
      justify-content: space-between;
        color: white;
        width: 95%;
        margin: 0 auto;
        padding: 20px 0px;
    }
    .nav_responsive_left{
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
    .nav_responsive_right{
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
  }