.dashboardcard {
    /* From https://css.glass */
    background: rgba(109, 101, 101, 0.2);
    border-radius: 4px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #C100A2;
    color: white;
    width: 320px;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p {
    margin: 0;
}

h4 {
    margin: 0;
}

.dashboardcard>img {
    width: 100%;
    height: 247px;

}

.dashboardcard_name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboardcard_name>h4 {
    font-size: 14px;
}

.dashboardcard_name>div {
    display: flex;
    align-items: center;
    width: 74px;
    height: 26px;
    border: 1px solid #C100A266;
    background: linear-gradient(92.76deg, rgba(193, 0, 162, 0.75) 0%, rgba(151, 0, 193, 0.75) 75.44%);
    border: 1px solid transparent;
    border-radius: 4px;
}

.dashboardcard_name>div>button {
    background-color: #070d24;
    outline: none;
    border: transparent;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 12px;
    padding: 0;
}
.dashboardcard_content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.dashboardcard_rs {
    font-size: 14px;
    background: linear-gradient(90.41deg, #C100A2 0.35%, #9700C1 99.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dashboardcard_name>p {
    font-size: 12px;
    color: #D4D4D4;
}