.editprofile {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 10px;
    color: white;
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(77, 77, 77, 1);
}

p {
    margin: 0;
}

.editprofile_container {
    width: 65%;
    margin: 0 auto;
}

.editprofile_heading {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.editprofile_heading>img {
    position: absolute;
    left: -100px;
    top: 0;
}

.editprofile_heading>h4 {
    font-family: Averia Serif Libre;
    font-size: 40px;
    background: linear-gradient(90.41deg, #C100A2 0.35%, #9700C1 99.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.editprofile_heading>p {
    font-size: 16px;
}

.editprofile_section {
    margin-top: 100px;
    display: flex;
    gap: 80px;

}

.editprofile_section_left {
    width: 40%;
    display: flex;
    gap: 20px;
}

.editprofile_section_left>img {
    width: 144px;
    height: 144px;
    border-radius: 50%;
    object-fit: cover;
}

.editprofile_section_left>div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 12px;
}

.editprofile_section_left>div>input {
    width: 0;
    height: 0;
    opacity: 0;
}

.editprofile_section_left>div>.editprofile_section_left_heading {
    font-size: 20px;
    font-weight: 500;
}

.editprofile_section_left>div>p {
    font-size: 12px;
    color: rgba(176, 176, 176, 1);
}

.editprofile_section_left>div>div {
    height: 44px;
    width: 100px;
    display: flex;
    background: linear-gradient(92.76deg, rgba(193, 0, 162, 0.75) 0%, rgba(151, 0, 193, 0.75) 75.44%);
    border: 1px solid transparent;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.editprofile_section_left>div>div>label {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #070d24;
    outline: none;
    border: transparent;
    border-radius: 4px;
    color: white;
    width: 100%;
    height: 100%;
}

/* right side */
.editprofile_section_right {

    width: 60%;
    display: flex;
    justify-content: end;
    padding: 5px;
}

.editprofile_section_right_acc_ifo {
    width: 100%;
}

.editprofile_section_right_acc_ifo>p {
    font-weight: 500;
    font-size: 20px;
    background: linear-gradient(90.41deg, #C100A2 0.35%, #9700C1 99.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.editprofile_section_right_input {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.editprofile_section_right_input>p {
    font-size: 16px;
}

.editprofile_section_right_input>div {
    position: relative;
    width: 100%;
    display: flex;
    background: linear-gradient(92.76deg, rgba(193, 0, 162, 0.75) 0%, rgba(151, 0, 193, 0.75) 75.44%);
    border: 1px solid transparent;
    border-radius: 4px;
    height: 44px;
}

.editprofile_section_right_input>div>input {
    padding-left: 20px;
    color: white;
    width: 100%;
    background-color: #070d24;
    outline: none;
    border: transparent;
    border-radius: 4px;
}

.editprofile_section_right_input_area {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 50px;
}

.editprofile_section_right_input_area>p {
    font-size: 16px;
}

.editprofile_section_right_input_area>div {

    width: 100%;
    height: 127px;
    display: flex;
    background: linear-gradient(92.76deg, rgba(193, 0, 162, 0.75) 0%, rgba(151, 0, 193, 0.75) 75.44%);
    border: 1px solid transparent;
    border-radius: 4px;
}

.editprofile_section_right_input_area>div>textarea {
    padding-top: 10px;
    padding-left: 20px;
    color: white;
    width: 100%;
    background-color: #070d24;
    outline: none;
    border: transparent;
    border-radius: 4px;
}

.editprofile_section_right_input>div>button {
    color: white;
    font-size: 16px;
    position: absolute;
    right: 0;
    width: 180px;
    height: 44px;
    border: none;
    background: linear-gradient(93.42deg, #C100A2 0%, #9700C1 100%);
}
.editprofile_section_right_acc_ifo >.add_more{
    margin-top: 40px;
    height: 44px;
    width: 100%;
    display: flex;
    background: linear-gradient(92.76deg, rgba(193, 0, 162, 0.75) 0%, rgba(151, 0, 193, 0.75) 75.44%);
    border: 1px solid transparent;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}
.editprofile_section_right_acc_ifo >.add_more >button{
    padding-left: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    background-color: #070d24;
    outline: none;
    border: transparent;
    border-radius: 4px;
    gap: 20px;
    
}
.editprofile_section_right_input_submit{
    justify-content: end;
    display: flex;
    margin-top: 50px;
    width: 100%;
}
.editprofile_section_right_input_submit >div{
    display: flex;
    gap: 24px;
}
.editprofile_section_right_input_submit >div >P{
    display: flex;
    align-items: center;
    gap: 8px;
}
.editprofile_section_right_input_submit >div >input{
    width: 180px;
    height: 44px;
    background: linear-gradient(93.42deg, #C100A2 0%, #9700C1 100%);
border-radius: 4px;
color: white;
}