p {
    margin: 0px;
}

.ProfileCard {
    width: 284px;
    height: 442px;
    padding: 20px 20px;
    background: rgba(145, 126, 126, 0.101);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(193, 0, 162, 1);
    border-radius: 4px;

}

.ProfileCard>img {
    width: 251px;
    height: 217.25px;
}

.ProfileCard_name {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ProfileCard_name>div {
    display: flex;
    align-items: center;
    gap: 5px;

}

.ProfileCard_name>div>img {
    width: 16px;
    height: 16px;
}

.ProfileCard_bid {
    margin-top: 18px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ProfileCard_bid>p {
    font-size: 10px;
}

.ProfileCard_bid>div {
    font-size: 12px;
    background: linear-gradient(90.41deg, #C100A2 0.35%, #9700C1 99.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ProfileCard_bid_dollor {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.ProfileCard_bid_dollor>p {
    font-size: 10px;
}

.ProfileCard>button {
    margin-top: 14px;
    width: 100%;
    height: 47px;
    background: linear-gradient(108.95deg, #C100A2 5.78%, #9700C1 82.65%);
    border-radius: 4px;
    outline: none;
    border: none;
    color: white;
}